<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href = {{url_for('static', filename='css/style.css') }}

      <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
      <div class="area"></div>
      <nav class="main-menu">
        {%if user.is_authenticated %}
          <ul>
              <li>
                  <a href="/" id="home">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Home
                      </span>
                  </a>
                
              </li>
              <li class="has-subnav">
                  <a href="#">
                      <i class="fa fa-laptop fa-2x"></i>
                      <span class="nav-text">
                          Stars Components
                      </span>
                  </a>
                  
              </li>
              <li class="has-subnav">
                  <a href="#">
                      <i class="fa fa-list fa-2x"></i>
                      <span class="nav-text">
                          Forms
                      </span>
                  </a>
                  
              </li>
              <li class="has-subnav">
                  <a href="#">
                      <i class="fa fa-folder-open fa-2x"></i>
                      <span class="nav-text">
                          Pages
                      </span>
                  </a>
                  
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-bar-chart-o fa-2x"></i>
                      <span class="nav-text">
                          Graphs and Statistics
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-font fa-2x"></i>
                      <span class="nav-text">
                          Quotes
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-table fa-2x"></i>
                      <span class="nav-text">
                          Tables
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-map-marker fa-2x"></i>
                      <span class="nav-text">
                          Maps
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#" >
                      <i class="fa fa-info fa-2x"></i>
                      <span class="nav-text">
                          Documentation
                      </span>
                  </a>
              </li>
          </ul>
          <ul class="logout">
              <li>
                  <a href="/logout" id="logout">
                        <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                          Logout
                      </span>
                  </a>
              </li>  
          </ul>
        {% else %}
        <ul>
            <li>
                <a href="/login" id="login">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Login
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="/sign-up">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Sign up
                    </span>
                </a>
                
            </li>
          </ul>
        {%endif%}
          </nav>
        <!-- Show flash messages from backend code -->
        {% with messages = get_flashed_messages(with_categories=true)%}
          {% if messages%}
            {%for category, message in messages%}
              {% if category == 'error'%}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                  {{message}}
                  <button  type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                  {{message}}
                  <button  type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {%endfor%}
          {%endif%}
        {% endwith %}
      <div class="container">
          {%block content%}
          {%endblock%}
      </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
        <script
            type = "text/javascript"
            src = "{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>